<%- include ./partials/header %>
	<label>Ini Halaman Admin</label>
	<form action="/book/add" method="post">
	<button type="submit" class="btn btn-primary">Tambah Buku</button>
	</form>
	<br>
	<form action="/book/edit/1" method="post">
	<button type="submit" class="btn btn-primary">Edit Buku</button>
	</form>
	<br>
	<form action="/book/delete/1" method="post">
	<button type="submit" class="btn btn-primary">Delete Buku</button>
	<br>
	<label>Ini Halaman User</label>
	<br>
	<a href="/book/list">List Buku</a>
	<br>
    <a href="/book/detail/1">Detail Buku</a>
	</form>
<%- include ./partials/footer %>