<%- include ./partials/header %>
	<label>Ini Halaman Admin</label>
	<form action="/book/add" method="post">
	<button type="submit" class="btn btn-primary">Tambah Buku</button>
	</form>
	<br>
	<form action="/book/edit/1" method="post">
	<button type="submit" class="btn btn-primary">Edit Buku</button>
	</form>
	<br>
	<form action="/book/delete/1" method="post">
	<button type="submit" class="btn btn-primary">Delete Buku</button>
	</form>
<%- include ./partials/footer %>