<%- include ./partials/header %>
    <form action = "/login" method="POST">
        <label>Ini adalah Halaman Login</label>
        <br>
        <input type="text" class = "form dash-control" id="username" name="username">
        <br>
        <input type="password" class = "form dash-control" id="password" name="password">
        <br></form>

<%- include ./partials/footer %>