<%- include ./partials/header %>
	<label>Ini Halaman User</label>
	<br>
	<br>
	<a href="/book/list">List Buku</a>
	<br>
	<br>
    <a href="/book/detail/1">Detail Buku</a>
<%- include ./partials/footer %>