<%- include ./partials/header %>
	<label>Ini Halaman User</label>
	<br>
	<br>
	<form action="/book/list" method="get">
	<button type="submit" class="btn btn-primary">List Buku</button>
	</form>
	<br>
	<form action="/book/detail/1" method="get">
	<button type="submit" class="btn btn-primary">Detail Buku</button>
	</form>
	<br>
	<form action="/order/add" method="post">
	<button type="submit" class="btn btn-primary">Order Buku</button>
	</form>
	<br/>
	<form action="/order/detail" method="get">
	<button type="submit" class="btn btn-primary">Detail Order Buku</button>
	</form>
	
<%- include ./partials/footer %>