<%- include ./partials/header %>
	<label>Ini Halaman User</label>
	<br>
	<br>
	<a href="/book/list">List Buku</a>
	<br>
	<br>
    <a href="/book/detail/1">Detail Buku</a>
	<br/>
	<form action="/order/add" method="post">
		<button type="submit" class="btn btn-primary">Order Buku</button>
	</form>
	<br/>
	<a href="/order/detail">Lihat</a>
	
<%- include ./partials/footer %>